/* table, th, td {
    border: 1px solid rgb(28, 53, 122);
    border-collapse: collapse;
  }

 th, td {
    background-color: #5f69ee;
  }
*/
/* input {
    background-color: #8591f9;
  }    */


  table {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  table thead th {
    position: sticky;
    top: 0;
  }
  
  table thead th {
    border: 1px solid #e4eff8;
    background: white;
    cursor: pointer;
  }
  
  table thead th {
    cursor: pointer;
    background: linear-gradient(0deg, #e4eff8, #8591f9 5%, #e4eff8 150%);
    color: white;
    border: 1px solid white;
  }
  
  table th,
  table td {
    padding: 0.2rem 0.5rem;
    text-align: center;
  }
  
  table td {
    border: 1px solid #e4eff8;
  }
  
  /* table input {
    width: 100%;
  } */